<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            #map {
                height: 600px;
                border: 2px solid black;
            }
            .scroll{
                height: 800px;
                overflow-y: auto; 
                word-wrap: break-word; 
        }
        </style>
        <title>Find Me Fireworks</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <h3 class="text-white">Dojo Parks</h3>
            <a class='ml-auto mr-3' href="/">Home</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-3 scroll">
                    {% for park in all_parks %}
                        <a href="infopage/{{park.id}}"><h5>{{park.title}}</h5></a>
                        {% if park.created_by.id == 1 %}
                        <a class="text-danger" href="delete"><small>Remove Park</small></a>
                        {% endif %}
                        <p class='mb-0'><small>{{ park.phone_number }}</small></p>
                        <p class='mb-0'><small>{{ park.rating }}</small></p>
                        <p class='mb-0'><small>{{ park.review | truncatechars:100 }} <a href="infopage/{{park.id}}">Read Full Review</a></small></p>
                        <p class='mb-0'>Website: <small><a href="{{park.website}}" target="_blank"> {{ park.website }}</a></small></p>
                        <hr>
                    {% endfor %}
                </div>
                <div class="col-7">
                    <div class="row mb-4">
                        <div class="col-10">
                            <h5>Add a park to our database!</h5>
                            <form action="create" method = 'post'>
                                {% csrf_token %}
                                <input type="text" name = 'location'>
                                {% for message in messages %}
                                {% if message.extra_tags == "duplicate" %}
                                <p class = "text-danger"><small>{{ message }}</small></p>
                                {% endif %}
                                {% endfor %}
                                <button class='btn btn-primary btn-sm' type= 'submit'>Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        // Initialize and add the map
            
            function initMap() {
                var options = {
                    zoom: 12,
                    center: {lat: {{last_park.latitude}}, lng: {{last_park.longitude}}}
                }
                var map = new google.maps.Map(document.getElementById("map"), options);

            
                // STORING ALL THE MARKERS IN AN ARRAY
                // var markers = [
                // {
                //     coords: coords,
                //     iconImage: {url:"/static/parks/img/icon.png", scaledSize: new google.maps.Size(30,30)},
                //     content: '<p><strong>Bellevue, WA</strong></p><p>Butthole, WA</p>'
                // }
                // ]

                // LOOPING THROUGH ARRAY TO DISPLAY MARKERS
                // for (var i = 0; i < markers.length; i++){
                //     addMarker(markers[i]);
                // }

                // marker = []
                // {% for park in all_parks %}
                // coords = {lat: {{park.latitude}}, lng: {{park.longitude}}}
                // content = '<p><strong>{{park.title}}</strong></p><p>{{park.address}}</p>'
                // marker.push(coords)
                // marker.push(content)
                // {% endfor %}
                marker = []
                {% for park in all_parks %}
                props = {
                    'coords': {lat: {{park.latitude}}, lng: {{park.longitude}}}
                }
                marker.push(props)
                {% endfor %}

                for (var i = 0; i < marker.length; i++){
                    addMarker(marker[i]);
                }

                
                var infowindow = new google.maps.InfoWindow({
                    content: props.content
                })
                // content.push(infowindow)


                // THE FUNCTION FOR ADDING A MARKER
                function addMarker(props){
                    var marker = new google.maps.Marker({
                        position: props.coords,
                        map: map,
                        icon: {url: "/static/parks/img/icon.png", scaledSize: new google.maps.Size(30,30)},
                        content: props.content
                    });
                    marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
                }
            }


        </script>


        <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4HjeXhplfNZb1oPX3HlrQkFz2FuCzoAs&callback=initMap">
        </script>
    </body>
</html>
