<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #map {
            height: 600px;
            border: 2px solid black;
        }

        .scroll {
            height: 800px;
            overflow-y: auto;
            word-wrap: break-word;
        }
    </style>
    <title>Find Me Fireworks</title>
    {%load static%}
</head>

<body>
    <nav class="navbar navbar-dark bg-info">
        <h3 class="text-white">Dojo Parks</h3>
        <a href="darkmode" class='ml-auto mr-3'><button class='btn btn-outline-light btn-sm'>Night Mode</button></a>
        <a class='ml-auto mr-3 text-light' href="/">Home</a>
        <a class="text-light" href="/logout">Logout</a>
    </nav>
    <div class="container-fluid">
            <div class="row">
                <div class="col-3 scroll">
                    {% for park in sidebar_parks %}
                    <a href="infopage/{{park.id}}">
                        <header>{{park.title}}</header>
                    </a>
                    <span class='small font-weight-bold'>Phone: </span><span
                        class="small">{{ park.phone_number }}</span><br>
                    <span class='small font-weight-bold'>Rating: </span><span class="small">{{ park.rating }}</span><br>
                    <span class='small font-weight-bold'>Review: </span><span
                        class="small">{{ park.review | truncatechars:85 }} <a href="infopage/{{park.id}}" class="small">Read
                            Full Review</a></span><br>
                    <span class='small font-weight-bold'>Webite: </span><span class="small"><a href="{{park.website}}"
                            target="_blank"> {{ park.website }}</a></span><br>
                    {% if park.created_by.id == user.id %}
                    <a class="text-danger" href="remove/{{park.id}}"><span class="small">Remove Park</span></a>
                    {% endif %}
                    <hr>
                    {% endfor %}
                </div>
                <div class="col-7">
                    <div class="row mb-4 mt-3 align-items-center">
                        <div class="col-6">
                            <h5 class="mb-3" id="Anchor">Add a park to our database!</h5>
                            <form action="create" method='post'>
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" name='location'>
                                    <div class="input-group-append">
                                        <button class='btn btn-info btn-sm' type='submit'>Submit</button>
                                    </div>
                                </div>
                                {% for message in messages %}
                                {% if message.extra_tags == "duplicate" %}
                                <p class="text-danger"><small>{{ message }}</small></p>
                                {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 6
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
        
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4HjeXhplfNZb1oPX3HlrQkFz2FuCzoAs&callback=initMap">
        </script>
</body>

</html>